
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
h2 {
    text-align: center;
    margin-bottom:30px;
}
.form-container{
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group{
  margin-bottom: 15px;
}
.form-group label{
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group input{
  width: 100%;
  padding:8px;
  font-size: 16px;
  border: 1px solid #ccc;
}
.submit-btn{
  display: block;
  width: 100%;
  padding:10px;
  background-color: #472dbb;
  color:#fff;
  border:none;
  border-radius: 5px;
  cursor: pointer;
}
.submit-btn:hover{
  background-color: #4565a0;
}
p{
  margin-top: 15px;
}
/* Reset some basic elements */

nav {
  position: top;
  background-color: #59aff5;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li.login {
  position: absolute;
  right: 1rem;
}

a{
  color: black;
  text-decoration: none;
  padding: 3px;
  display: block;
  flex: 0 0 120px;
  margin-right: 10px;
  transition: 0.3s;
}
nav ul li a:hover {
  background-color: lightgray;
  color: #000; 

}


/* Footer styling */
footer {
  background-color: #59aff5;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%
  
}
.login-form {
  max-width: 300px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.login-form .form-group {
  margin-bottom: 1rem;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form button {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}

.login-form button:hover {
  background-color: #444;
}

.image-logo{
  height: 43.5px;
  width: auto;
  position: fixed;
  margin-top: 0px;
  margin-left: 0px;
}
.login-btn{
  margin-left: auto;
}

.signup{
  color: purple;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* or 100vh for full screen height */
  opacity: 0.5;
}

.image-container img {
  max-width:25cm;
  height: auto;
  position: absolute;
  height: 17cm;
  border-radius: 20px; /* optional: gives rounded corners */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* optional: adds shadow */
}

